@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #fdfbf7;
  --foreground: #4a4035;
  --accent: #d4a373;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
